.button {
  background: #3C3C3D;
  color: #D8D8D8;
  font-weight: 600;
  border: 2px solid #D8D8D8;
  padding: 1.5rem 2.5rem;
  border-radius: .75rem;
  cursor: pointer;
  transition: background .25s, color .25s, border-color .25s;
  outline: none;
  font-size: 1.5rem;
  letter-spacing: .2rem;
  word-spacing: .4rem;
}

.button:hover {
  background: #505053;
  color: #ffffff;
  border-color: #ffffff;
}
