.image-list {
  list-style: none;
  margin: 0;

  width: 100rem;
  height: 70rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  padding: 4rem;
}

.image-list__item {
  display: block;
  width: 44rem;
  height: 29rem;
}